.demo-image__error .image-slot {
  font-size: 30px;
}
.demo-image__error .image-slot .el-icon {
  font-size: 30px;
}
.demo-image__error .el-image {
  width: 100%;
  height: 200px;
}
.dialogContentForm {
  /* display: flex; */
  margin-left: -60px;
}
.dialogContentLeft {
  width: 40%;
  height: 100%;
  background: rgb(14, 171, 177);
}
.dialogContentRight {
  width: 60%;
  height: 100%;
  background: pink;
}

.LayButton {
  position: absolute;
  top: 0;
  right: -20px;
}
.dialogBottom {
  width: 100%;
  height: 30px;
  /* background: red; */
  display: flex;

  flex-direction: row-reverse;
}
.preservation {
  margin-left: 10px;
}
.layclothImg {
  position: relative;
}
.layclothImgIcon {
  position: absolute;
  right: -27px;
  top: -11px;
  cursor: pointer;
}
.filledIcon{
  cursor: pointer;
}
.proportionsLeft{
  width: 4vw;
  cursor: pointer;

}
.bedScheduleLeft{
  color: rgb(20, 119, 201);
  margin-left: 20px;
  margin-right: 10px;

}


.fabricLaying-titleRight{
  border: 1px solid #ddd;
  border-left: 0px solid #ddd;
  width: 60px;
  height: 32px;
  display: block;
  float: right;
  text-align: center;
  line-height: 32px;
  color: #909399;
  background: #f5f7fa;
}

.styleBedNo{
  margin-top: 5px;

}




.dome {
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.filledIcon{
  cursor: pointer;
  
}
.proportionsRight{
  cursor: pointer;

}
.proportionsDelete{
  cursor: pointer;
  margin-left: 10px;

}


.bedSchedule-left{
  width: 320px;
}

.bedSchedule-file{
  width: 920px;
}
.bedSchedule{
  height: 700px;
  overflow-y: scroll;//设置滚动条
}
.parent{
  position: relative;

}
.tips{
    position: absolute;
    left: 75px;
    top: -30px;

}
.tip{
    position: absolute;
    left: 75px;
    top: -34px;
}

.buttonContainer {
  position: relative;
}
.number-styleBedNo{
  width: 275px;
}
.dialogFoot{
   position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: 52px;
      background:#fff;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.302);
      z-index: 99;
}
.fabricColor{
  transform: translate(6px, -17px);
}
.shelfList{
  cursor: pointer;
 display: flex;
 justify-content: center;
 color: #3e8ff7;
 align-items: center;
}