.dome {
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.checkTable > .el-table__header-wrapper > table > thead > tr > th:first-child > div {
	display: none!important;
}